@using TutoringProject.Models.Session
@using TutoringProject.Models.UserAccount
@model dynamic

@if (Model is List<UserAccount>)
{
    @Html.Partial("~/Views/Shared/_TutorList.cshtml", Model as List<UserAccount>)
}
else if (Model is List<UserAccount>)
{
    @Html.Partial("~/Views/Shared/_StudentList.cshtml", Model as List<UserAccount>)
}
else if (Model is List<Session>)
{
    @Html.Partial("~/Views/Shared/_SessionList.cshtml", Model as List<Session>)
}
else
{
    <p>No results found.</p>
}
