<div>
    <h2>Admin Panel</h2>
    @Html.ActionLink("User Management", "Users", "Admin", new { @class = "btn btn-primary" })
    @Html.ActionLink("Course Management", "Courses", "Admin", new { @class = "btn btn-primary" })
</div>